.action {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 8px;
}

.error {
  max-width: 180px;
  overflow: hidden;
  color: var(--dsw-alias-state-error-primary);
  font-size: 12px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
