.description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--dsw-alias-label-secondary);
}

.editor {
  margin-top: 24px;
}

@media (max-width: 560px) {
  .editor {
    margin-top: 20px;
  }
}
